[submodule "/home/wg/.tmux/plugins/tpm"]
	path = /home/wg/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/pack/tpope/start"]
	path = .vim/pack/tpope/start
	url = https://tpope.io/vim/sensible.git
